USE [AGC]
GO
/****** Object:  StoredProcedure [TRANSACTION].[spINSERT_DM_DEBIT_MEMO]    Script Date: 06/08/2018 12:55:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* INSERT DEBIT MEMO REQUEST
03/23/2018
Russel Vasquez
*/

ALTER PROC [TRANSACTION].[spINSERT_DM_DEBIT_MEMO]
@DMRNUM nvarchar(15),
@BRANCHCODE nvarchar(10),
@SUPERVISORID nvarchar(50),
@ITEMID int,
@ITEMDESCRIPTION nvarchar(150),
@QUANTITY float,
@AMOUNT float,
@OTHERS_DETAIL nvarchar(150),
@REQUESTER_NOTES nvarchar(250),
@ATTACHMENT image,
@ISATTACHMENT bit,
@DATEREQUEST datetime,
@USERCODE nvarchar(50)

AS
BEGIN

BEGIN TRY
	BEGIN TRANSACTION
	
	--INSERT TO HEADER
	--CHECK IF ALREADY EXIST
	IF NOT EXISTS(SELECT DMRNUM FROM [TRANSACTION].[DM_Request_Header] WHERE DMRNum=@DMRNUM)
	BEGIN
		INSERT INTO [TRANSACTION].[DM_Request_Header]
		(DMRNum,DateRequest,BranchCode,SupervisorID,Requester_Notes, UserCode)
		VALUES
		(@DMRNUM,@DATEREQUEST,@BRANCHCODE,@SUPERVISORID,@REQUESTER_NOTES, @USERCODE)
	END

	INSERT INTO [TRANSACTION].[DM_Request_Line]
	(DMRNum, ItemID, ItemDescription, Quantity, Amount, OthersDetail, Attachment,IsAttachment, DateRequest)
	VALUES
	(@DMRNUM, @ITEMID, @ITEMDESCRIPTION, @QUANTITY, @AMOUNT, @OTHERS_DETAIL, @ATTACHMENT,@ISATTACHMENT, @DATEREQUEST)
	
		
	COMMIT TRANSACTION
END TRY

BEGIN CATCH

	ROLLBACK TRANSACTION -- Will not commit changes on all tables

END CATCH

END
