USE [AGC]
GO
/****** Object:  StoredProcedure [UTIL].[spGET_DM_ITEM_GROUP_LIST]    Script Date: 6/16/2018 11:43:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TEMPLATE STORE PROCEDURE

--CREATE BY: RUSSEL VASQUEZ

--PURPOSE: GET LIST OF ITEM GROUP

--DATE: 06/16/2018
--VERSION: 1

ALTER PROC [UTIL].[spGET_DM_ITEM_GROUP_LIST]
AS
BEGIN
	SELECT * FROM 
	[UTIL].[Item_Group_RF]
END