USE [AGC]
GO
/****** Object:  StoredProcedure [UTIL].[spGET_DAYS_LIST]    Script Date: 6/16/2018 10:44:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--TEMPLATE STORE PROCEDURE

--CREATE BY: RUSSEL VASQUEZ

--PURPOSE: GET LIST OF UNIT OF MEASUREMENT

--DATE: 06/16/2018
--VERSION: 1

CREATE PROC [UTIL].[spGET_UOM_LIST]
AS
BEGIN
	SELECT * FROM 
	[UTIL].[UnitOfMeasurement_RF]
END